<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.zhucongqi.mapper.UserMapper">
    <insert id="addUser" parameterType="user">
        insert into user (id, name, addr)
        values (#{id,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, #{addr,jdbcType=VARCHAR})
    </insert>
    <update id="updateUser" parameterType="user">
        update user
        set name = #{name, jdbcType=VARCHAR}
         where id = #{id, jdbcType=INTEGER}
    </update>
    <update id="updateUser2" parameterType="user">
        update user
        <set>
            <if test="name != null">name=#{name},</if>
            <if test="addr != null">addr=#{addr}</if>
        </set>
        where id = #{id}
    </update>
    <select id="users" resultType="user">
        select * from user
    </select>
</mapper>